<section id="about" class="about-us section">
  <div class="container">
    <h2 class="section-headline">
      About <span class="header-underline">Us</span>
    </h2>
    <p class="section-description">
      We provide a cozy and inspiring space where you can enjoy great coffee, work, read, and connect with others.
    </p>
    <div class="about-us-content">
      <ol class="about-us-list">
        <li class="about-us-item">
          <p class="about-us-item-text"><span class="about-us-content-article">Cozy Space</span><br>Work, read, and enjoy aromatic coffee</p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">
            <span class="about-us-content-article">World Tasting Week</span><br>New international coffee each week
          </p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">
            <span class="about-us-content-article">Brainy Mondays</span><br>10% off for students and remote workers
          </p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text"><span class="about-us-content-article">Book & Brew</span><br>Free coffee for book donations</p>
        </li>
      </ol>
      <div class="about-us-image">
      </div>
    </div>
  </div>
</section>
