<section class="proposal section" id="menu">
  <div class="proposal-container">
    <h2 class="visually-hidden">Menu</h2>
    <p class="proposal-title">
      Our exquisite cofee and snacks
    </p>
    <div>

    <div class="proposal-list-wrapper">
      <div class="proposal-list-card"> 
        <p class="proposal-list-title">Drinks:</p>
        <ul class="proposal-list">
          <li class="proposal-list-item">
            Classic Tinto – $3.00
          </li>
          <li class="proposal-list-item">
            Arequipe Coffee - $5.75
          </li>
          <li class="proposal-list-item">
            Chai Coffee Fusion – $4.25
          </li>
          <li class="proposal-list-item">
            Uzvar Iced Coffee - $4.75
          </li>
        </ul>
        <a class="proposal-button" href="#contact">Make an order</a>
      </div>

        <div class="proposal-list-card snacks-card">
          <p class="proposal-list-title">Snacks:</p>
          <ul class="proposal-list">
            <li class="proposal-list-item">
              Colombian Buñuelos – $3.50
            </li>
            <li class="proposal-list-item">
              Pancakes with Cheese – $6.95
            </li>
            <li class="proposal-list-item">
              Pakoras – $5.25
            </li>
            <li class="proposal-list-item">
              Croissant – $3.25
            </li>
            <li class="proposal-list-item">
              Chocolate Chip Muffin – $2.75
            </li>
          </ul>
          <a class="proposal-button" href="#contact">Make an order</a>
        </div>
        
      </div>

    </div>
  </div>
</section>
