<div id="footer" class="footer-styles">
  <div class="footer-container container">
    <div class="footer-main-info">
      <div class="footer-main-info-container">
        <address class="footer-adress">
          <div class="footer-logo">
            <a class="site-nav__logo footer-logo" href="./index.html">
              <img src="./images/logo/logo.jpg" alt="logo" width="60" height="60">
            </a>
          </div>
          <ul class="list footer-adress-list">
            <li class="footer-adress-list-item">
              <p class="footer-adress-list-item-title">Phone number:</p>
              <a
                class="link footer-adress-list-item-data"
                href="tel:+380684439426"
                >(718) 990-0700</a>
            </li>
            <li class="footer-adress-list-item">
              <p class="footer-adress-list-item-title">Address:</p>
              <a
                class="link footer-adress-list-item-data"
                href="https://maps.app.goo.gl/grsG8s1USahAfkm7A"
                target="_blank"
                rel="noopener noreferrer"
                >85-12 Main St, Briarwood, NY 11435</a
              >
            </li>
          </ul>
        </address>

        <nav class="footer-navigation">
          <ul class="list footer-navigation-list">
            <li class="footer-navigation-list-item">
              <a href="#about" class="link footer-navigation-list-item-link"
                >About us</a
              >
            </li>
            <li class="footer-navigation-list-item">
              <a href="#prices" class="link footer-navigation-list-item-link"
                >Prices</a
              >
            </li>
            <li class="footer-navigation-list-item">
              <a href="#menu" class="link footer-navigation-list-item-link"
                >Menu</a
              >
            </li>
            <li class="footer-navigation-list-item">
              <a href="#order" class="link footer-navigation-list-item-link"
                >Order</a
              >
            </li>
            <li class="footer-navigation-list-item">
              <a href="#staff" class="link footer-navigation-list-item-link"
                >Staff</a
              >
            </li>
          </ul>
        </nav>

        <div class="footer-socials">
          <ul class="list footer-socials-list">
            <li class="footer-socials-list-item">
              <a
                class="link footer-socials-list-item-link"
                href="https://www.facebook.com/QPLNYC/"
                aria-label="facebook icon"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-socials-list-item-link-icon">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socials-list-item">
              <a
                class="link footer-socials-list-item-link"
                href="https://www.instagram.com/qplnyc/?hl=en"
                aria-label="instagram icon"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-socials-list-item-link-icon">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socials-list-item">
              <a
                class="link footer-socials-list-item-link"
                href="https://www.youtube.com/QueensPublicLibrary"
                aria-label="youtube icon"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-socials-list-item-link-icon">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-information">
      <div>
        <p class="footer-information-rights">
          &#xa9;2025 Bean and Brain. All rights reserved.
        </p>
      </div>

      <div class="footer-information-btn">
        <ul class="list footer-information-rules">
          <li>
            <button
              class="footer-information-rights-policy info-open-btn-id"
              type="button"
            >
              Privacy Policy
            </button>
          </li>
          <li>
            <button
              class="footer-information-rights-terms terms-open-btn-id"
              type="button"
            >
              Terms of Service
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
