<section class="lessons section" id="prices">
  <div class="container">
    <h2 class="section-headline">
      Our <span class="header-underline">prices</span>
    </h2>
    <div class="section-description-wrap">
      <p class="section-description">
        Our subscription plans are thoughtfully structured to provide great value, with flexible options to suit your needs, ensuring you get the most out of every visit.
      </p>
    </div>
    <ul class="lessons-list">
      <li class="lessons-list-item">
        <p class="lessons-item-title">One-Time Pass</p>
        <p class="lessons-item-price">10&#36; / per visit</p>
        <p class="lessons-item-details">
          Perfect for a single visit, our One-Time Pass grants you full access to the café’s cozy seating, reliable Wi-Fi. Ideal for those wanting to drop in for work, study, or simply to unwind.
        </p>

        <a href="#contact" class="lessons-item-btn">Make an order</a>
      </li>

      <li class="lessons-list-item even">
        <p class="lessons-item-title">Monthly Solo Pass</p>
        <p class="lessons-item-price">50&#36; / month</p>
        <p class="lessons-item-details">
          Unlimited visits, priority seating during peak hours, and exclusive discounts on specialty coffee. Plus, enjoy a complimentary monthly coffee tasting to sample our top selections.
        </p>

        <a href="#contact" class="lessons-item-btn">Make an order</a>
      </li>

      <li class="lessons-list-item">
        <p class="lessons-item-title">Monthly Group Pass</p>
        <p class="lessons-item-price">100&#36; / month</p>
        <p class="lessons-item-details">
          Bring your friends, classmates, or colleagues—our Group Pass covers up to five people for a full month of café comfort. Perfect for study groups, coworking teams, or social gatherings.
        </p>

        <a href="#contact" class="lessons-item-btn">Make an order</a>
      </li>
    </ul>
  </div>
</section>
